absl-py==1.4.0
accelerate==0.20.3
ai2thor==2.1.0
aiofiles==23.1.0
aiohttp==3.8.4
aiosignal==1.3.1
altair==5.0.1
antlr4-python3-runtime==4.7.2
anyio==3.7.1
appdirs==1.4.4
asttokens==2.2.1
async-timeout==4.0.2
attrs==23.1.0
backcall==0.2.0
blis==0.7.9
cachetools==5.3.1
catalogue==2.0.8
certifi==2023.5.7
cffi==1.15.1
charset-normalizer==3.1.0
click==7.1.2
cloudpickle==1.2.2
cmake==3.25.0
colorama==0.4.6
confection==0.1.0
contourpy==1.1.0
cycler==0.11.0
cymem==2.0.7
Cython==0.29.35
decorator==5.1.1
docker-pycreds==0.4.0
docopt==0.6.2
exceptiongroup==1.1.2
executing==1.2.0
fairscale==0.4.13
fast-downward @ https://github.com/MarcCote/downward/archive/faster_replan.zip#sha256=85a08d6e615d5eae14320636ac2dee24ffcfda9fec551c362b7e880737128e98
fastapi==0.100.0
ffmpy==0.3.0
filelock==3.12.2
fire==0.5.0
Flask==2.0.3
fonttools==4.40.0
frozenlist==1.3.3
-e git+https://github.com/lm-sys/FastChat.git@55b2f8fdb0e0b80d64e043e9fc9018641bf7289f#egg=fschat
fsspec==2023.6.0
future==0.18.3
gitdb==4.0.10
GitPython==3.1.32
google-auth==2.21.0
google-auth-oauthlib==1.0.0
gradio==3.35.2
gradio_client==0.2.8
grpcio==1.56.0
gym==0.15.4
gym-notices==0.0.8
h11==0.14.0
h5py==3.9.0
hashids==1.3.1
httpcore==0.17.3
httpx==0.24.1
huggingface-hub==0.15.1
idna==3.4
importlib-metadata==6.7.0
importlib-resources==5.12.0
ipython==8.14.0
itsdangerous==2.1.2
jedi==0.18.2
jericho==3.1.2
Jinja2==3.1.2
joblib==1.3.1
jsonpatch==1.33
jsonpointer==2.4
jsonschema==4.18.0
jsonschema-specifications==2023.6.1
kiwisolver==1.4.4
langcodes==3.3.0
lark-parser==0.12.0
linkify-it-py==2.0.2
lit==15.0.7
-e git+https://github.com/facebookresearch/llama.git@1a240688810f8036049e8da36b073f63d2ac552c#egg=llama
Markdown==3.4.3
markdown-it-py==2.2.0
markdown2==2.4.9
MarkupSafe==2.1.2
matplotlib==3.7.1
matplotlib-inline==0.1.6
mdit-py-plugins==0.3.3
mdurl==0.1.2
mementos==1.3.1
more-itertools==9.1.0
mpmath==1.2.1
multidict==6.0.4
multipledispatch==0.6.0
murmurhash==1.0.9
networkx==3.0
nh3==0.2.14
nltk==3.8.1
numpy==1.25.0
oauthlib==3.2.2
openai==0.27.8
opencv-python==4.8.0.74
orjson==3.9.2
packaging==23.1
pandas==2.0.3
parso==0.8.3
pathtools==0.1.2
pathy==0.10.2
pddl==0.2.0
peft==0.3.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==10.0.0
pipreqs==0.4.13
preshed==3.0.8
progressbar2==4.2.0
prompt-toolkit==3.0.39
protobuf==3.20.3
psutil==5.9.5
ptyprocess==0.7.0
pure-eval==0.2.2
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycocotools==2.0.6
pycparser==2.21
pydantic==1.10.10
pydub==0.25.1
pyglet==1.3.2
Pygments==2.15.1
pyparsing==3.1.0
python-dateutil==2.8.2
python-multipart==0.0.6
python-utils==3.7.0
pytz==2023.3
PyYAML==6.0
referencing==0.29.1
regex==2023.6.3
requests==2.31.0
requests-oauthlib==1.3.1
revtok==0.0.3
rich==13.4.2
rpds-py==0.8.10
rsa==4.9
scipy==1.11.1
semantic-version==2.10.0
sentencepiece==0.1.99
sentry-sdk==1.28.0
setproctitle==1.3.2
shortuuid==1.0.11
six==1.16.0
smart-open==6.3.0
smmap==5.0.0
sniffio==1.3.0
spacy==3.5.4
spacy-legacy==3.0.12
spacy-loggers==1.0.4
srsly==2.4.6
stack-data==0.6.2
starlette==0.27.0
svgwrite==1.4.3
sympy==1.11.1
tarski==0.7.0
TatSu==4.4.0
tenacity==8.2.2
tensorboard==2.13.0
tensorboard-data-server==0.7.1
tensorboardX==1.8
termcolor==2.3.0
textworld @ https://github.com/MarcCote/TextWorld/archive/handcoded_expert_integration.zip#sha256=21f78fbf766391e4757680a4332b6273712b162506fd561b619c66d9aa9181d3
thinc==8.1.10
tiktoken==0.4.0
tokenizers==0.13.3
toolz==0.12.0
torch==2.0.1+cu118
torchaudio==2.0.2+cu118
torchvision==0.15.2+cu118
tornado==6.3.2
tqdm==4.65.0
traitlets==5.9.0
transformers==4.28.1
triton==2.0.0
typer==0.9.0
typing_extensions==4.6.3
tzdata==2023.3
uc-micro-py==1.0.2
urllib3==1.26.16
uvicorn==0.22.0
visdom==0.2.4
vocab==0.0.5
wandb==0.15.5
wasabi==1.1.2
wavedrom==2.0.3.post3
wcwidth==0.2.6
websocket-client==1.6.1
websockets==11.0.3
Werkzeug==2.3.6
yarg==0.1.9
yarl==1.9.2
zipp==3.15.0
